<mat-toolbar color="primary">
  <button mat-button (click)="goHome()" routerLink="/home" *ngIf="isAuthenticated$ | async">דף הבית</button>
  <button mat-button routerLink="/orders-calendar" *ngIf="isAuthenticated$ | async">לוח הזמנות</button>
  <button mat-button routerLink="/search-orders" *ngIf="isAuthenticated$ | async">חיפוש הזמנות</button>
  <button mat-button routerLink="/admin" *ngIf="isAdmin$ | async">מנהל</button>
  <span class="spacer"></span>
  <button mat-button routerLink="/login" *ngIf="!(isAuthenticated$ | async)">התחברות</button>
  <button mat-button (click)="logout()" [disabled]="isLoading$ | async" *ngIf="isAuthenticated$ | async">
    {{ (isLoading$ | async) ? 'יוצא...' : 'יציאה' }}
  </button>
</mat-toolbar>